<title-banner></title-banner>
<!-- Note: Planets are AI gen using BingGPT Designer powered by DALLE 3-->
<br><br><br><br><br>
<div class="back expanding-div" [ngClass]="{'expanded': isExpanded}" id="expandDiv" (transitionend)="applyClassToTargetDiv()">
    <div class="content" [ngClass]="{'expanded': isClassApplied}">
        <div *ngIf="width > 972">
            <h1 style="color: rgba(0, 0, 0, 0.576); padding:30px">Projects</h1>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-md-2" style="text-align: center;">
                    <img src="../../../assets/planet_1.png" alt="" class="planet"  (mouseenter)="onHover(1)"><br>
                    <p style="color: black;">Research: Vehicle Lab</p>
    
    
                </div>
                <div class="col-lg-2 fade-in " [ngClass]="{'faded': act1}" >
                    <p style="color: black; font-size: 15px; padding-left: 20px;">For a summer I worked at Wayne State University to detect camera failures in autonomous vehicles using computer vision models. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-7"></div>
                <div class="col-md-2"  style=" text-align: center;">
                        <img src="../../../assets/planet_2.png" alt="" class="planet"  (mouseenter)="onHover(2)"><br>
                        <p style="color: black; margin-left: 12px;">Research: DIAG</p>
                </div>
                <div class="col-lg-2 fade-in " [ngClass]="{'faded': act2}" style="margin-left: 4vh;">
                    <p style="color: black; font-size: 15px;">Currently I am working on research to classify glioma in cancer patients at the University of Michigan.
                    We apply computer vision models to whole slide images looking for flags in tissue.</p>
                </div>
    
            </div>
    
            <div class="row">
                <div class="col-7"></div>
                <div class="col-lg-2 fade-in " [ngClass]="{'faded': act3}" style="margin-left: 4vh; position: relative;">
                    <p style="color: black; font-size: 15px; padding-top: 10%">I helped Co-found Helivox, and built the website using Angular so regular team members
                    could change the website similar to wix, with authentication for multiple roles. <a href="https://helivox-2.web.app"  target="_blank" style="color: rgb(35, 61, 180); padding: 5px">Website</a>
                    <a href="https://youtu.be/0SNHHDkTCNE" style="color: rgb(35, 61, 180); padding: 5px"  target="_blank">Demo</a></p> 
                </div>
                <div class="col-md-2"  style=" text-align: center;">
                        <img src="../../../assets/planet_3.png" alt="" class="planet" (mouseenter)="onHover(3)">
                        <p style="color: black; padding-left: 12px;">Helivox 501(c)(3)</p>
    
                </div>
    
            </div>
    
            <div class="row">
                <div class="col-md-2"style=" text-align: center;">
                    <img src="../../../assets/planet_4.png" alt="" class="planet"  (mouseenter)="onHover(4)" >
                    <p style="color: black;" >Robotics</p>
                </div>
                <div class="col-lg-2 fade-in " [ngClass]="{'faded': act4}">
                    <p style="color: black; font-size: 15px; width: 100%; padding-left: 20px; padding-top: 10%">During COVID I learned how to work with circuit boards, and built electronic equipment in my free time. I am also pursuing a dual major in Robotics at UM. 
                        <a href="https://vijjr04.wixsite.com/deeper-understanding" style="color: rgb(35, 61, 180); padding: 5px"  target="_blank">Portfolio</a></p>
                </div>
    
            </div>
        </div>

            
        <div *ngIf="width <= 972">
            <h1 style="color: rgba(0, 0, 0, 0.576); padding:30px">Projects</h1>
            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <img src="../../../assets/planet_1.png" alt="" class="planet"  (mouseenter)="onHover(1)"><br>
                    <p style="color: black;">Research: Vehicle Lab</p>


                </div>
                <div class="col-8 fade-in " [ngClass]="{'faded': act1}" >
                    <p style="color: black; font-size: 15px; padding-left: 20px;">For a summer I worked at Wayne State University to detect camera failures in autonomous vehicles using computer vision models. </p>
                </div>
            </div>
            <div class="row">
           
                <div class="col-4"  style=" text-align: center;">
                        <img src="../../../assets/planet_2.png" alt="" class="planet"  (mouseenter)="onHover(2)" ><br>
                        <p style="color: black;">Research: DIAG</p>
                </div>
                <div class="col-8 fade-in " [ngClass]="{'faded': act2}" style="margin-left: 4vh;">
                    <p style="color: black; font-size: 15px;">Currently I am working on research to classify glioma in cancer patients at the University of Michigan.
                    We apply computer vision models to whole slide images looking for flags in tissue.</p>
                </div> 
                <!-- <div class="col-1"></div> -->


            </div>



            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <img src="../../../assets/planet_3.png" alt="" class="planet"  (mouseenter)="onHover(3)"><br>
                    <p style="color: black; ">Helivox 501(c)(3)</p>


                </div>
                <div class="col-8 fade-in " [ngClass]="{'faded': act3}" >
                    <p style="color: black; font-size: 15px;">I helped Co-found Helivox, and built the website using Angular so regular team members
                        could change the website similar to wix, with authentication for multiple roles. <a href="https://helivox-2.web.app"  target="_blank" style="color: rgb(35, 61, 180); padding: 5px">Website</a>
                        <a href="https://youtu.be/0SNHHDkTCNE" style="color: rgb(35, 61, 180); padding: 5px"  target="_blank">Demo</a></p>
                </div>
            </div>



            <div class="row">
           
                <div class="col-4"  style=" text-align: center;">
                        <img src="../../../assets/planet_4.png" alt="" class="planet"  (mouseenter)="onHover(4)"><br>
                        <p style="color: black;">Robotics</p>
                </div>
                <div class="col-8 fade-in " [ngClass]="{'faded': act4}" style="margin-left: 20px;">
                    <p style="color: black; font-size: 15px;">During COVID I learned how to work with circuit boards, and built electronic equipment in my free time. I am also pursuing a dual major in Robotics at UM.
                        <a href="https://vijjr04.wixsite.com/deeper-understanding" style="color: rgb(35, 61, 180); padding: 5px"  target="_blank">Portfolio</a></p>
                </div> 

            </div>
        </div>
    </div>




</div>
<p style=" padding: 10px">More planets to come</p>
