<div class="placement">
    <div class="row">
        <div class="col-sm-4">
            <div class="text">
                <p class="hollow-shadow">Vijay <br>Ravi</p>
            </div>
        </div>
    </div>
</div>

<div>

    <div class="row" style="padding-top: 100px; width: 100%;">
            <img src="../../../../assets/truck.png" alt="" style="width:600px;" class="center">
    </div>
    <div class="row" style="margin-right: 0%; text-align: center;">
        <div class="col-lg-4">
            
        </div>      
        <div class="col-lg-4">
            <p>I am a student at the University of Michigan studying computer science. I plan to pursue research in Machine Learning and Robotics for the medical field. </p>

        </div>
        
    </div>

</div>
