.wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
  }
  
  .or-separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d3d7da91;
  }
  
  .vertical-line {
    border-left: 1px solid #d3d7daa9;
    flex-grow: 1;
    width: 1px;
  }

.row{
  width: 100%
}