<br><br><br>

<div style="width:100%; text-align: center;">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-md-6">
            Moving forward I plan to continue doing research in medical computer vision applications, pursue opensource development, participate in hackathons, and acquire a machine learning certification at google.
        </div>
    </div><br>
    <div class="wrapper"  style="width:100%; text-align: center;">
        <div class="or-separator">
          <div class="vertical-line"></div>
          <div style=" font-size: 20px;"><a href="../../../assets/VIJAY_RAVI_RESUME.pdf" target="_blank">Download Resume</a></div>
          <div class="vertical-line"></div>
        </div>
    </div>
</div>
<div style="width:100%; background-color: #f7f8fd;text-align: center; color: black; padding: 3%">
    <p style="color: black; font-size: 25px;">Vijay Ravi</p><br>
    Computer Science<br>
    University of Michigan<br>
    500 S State St<br>
    Ann Arbor, MI 48109<br><br>
    <p style="color: black; text-decoration: underline;">vijjr&#64;umich.edu</p>
    <br><br>

    Site by Vijay Ravi
</div>
