<div style="text-align: right; padding-top: 10%;">
    <hr>
    <br><br>
    <br><br>

    <h1 style=" padding-right:7%">Hobbies</h1>

</div>
<div style=" position: relative;"><br><br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <h5>Guitar</h5> 
        </div>

    </div>
    <div class="row">
        <div class="col-8"></div>
        <div class="col-2">
            <h5>Trumpet</h5> 
        </div>

    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-2">
            <h5>Carnatic Violin</h5> 
        </div>

    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-2">
            <h5>Cross Country</h5> 
        </div>


    </div>
    <div class="row">
        <div class="col-7"></div>
        <div class="col-2">
            <h5>Weight Lifting</h5> 
        </div>

    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-2">
            <h5>Volleyball</h5> 
        </div>

    </div>
    <img src="../../../assets/violin.png" alt="">

</div>